<div class="content">
  <mat-toolbar>
    <p>CURSOS</p>
    <div class="espacio"></div>
    <a mat-button type="button" class="btn btn-primary" routerLink="listar"
      >Ver Cursos</a>
    <ng-container *ngIf="sesion$ | async as sesion">
      <div *ngIf="sesion.usuarioActivo?.admin">
        <a mat-button type="button" class="btn btn-primary" routerLink="agregar"
          >Agregar Curso</a>
      </div>
    </ng-container>
  </mat-toolbar>
  <div class="content-info">
    <router-outlet></router-outlet>
    <div *ngIf="route.url === '/cursos'" class="video-content">
      <video class="video" autoplay>
        <source src="../../../../../assets/videos/CURSOS.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
