
.espacio{
    flex: 1 1 auto;
}
.content {
    width: 80vw;
    margin-left: 165px;
    margin-top: 20px;
}

.video{
    padding-top: 20px;
    width: 65vw;
}

.video-content{
    display: flex;
    justify-content: space-around;
}