
    

    <div class="content">
        <mat-toolbar class="content-toolbar">
            <p>ESTUDIANTES</p>
            <div class="espacio"></div>
            <a mat-button type="button" class="btn btn-primary" routerLink="listar">Listar Estudiantes</a>
          <ng-container *ngIf="sesion$ | async as sesion">  
            <div *ngIf="sesion.usuarioActivo?.admin">
                <a mat-button type="button" class="btn btn-primary" routerLink="agregar">Agregar Estudiante</a>
            </div>
          </ng-container>       
        </mat-toolbar>
        <div class="content-info">
          <router-outlet  ></router-outlet>
        </div>
      </div>