
<h1>Iniciar sesion</h1>

<form [formGroup]="formulario" (ngSubmit)="login()">
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="fill" class="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usuario">
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="fill" class="fill">
                <mat-label>Contrasena</mat-label>
                <input matInput formControlName="contrasena">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button id="btnLogin" type="submit" mat-raised-button color="primary" [disabled]="formulario.invalid">Iniciar Sesion</button>
        </div>
    </div>
  
</form>
<p>
    

"contrasena": "123456",
"admin": true,
"canLoad": true,
"canActivateChild": true,
"usuario": "agubosio",
"id": "1"
<br>
"contrasena": "123456",
"admin": false,
"canLoad": false,
"canActivateChild": false,
"usuario": "francoperez",
"id": "2"
<br>
"contrasena": "123456",
"admin": true,
"canLoad": false,
"canActivateChild": true,
"usuario": "juangarcia",
"id": "3"
<br>
"contrasena": "123456",
"admin": true,
"canLoad": true,
"canActivateChild": false,
"usuario": "isablediaz",
"id": "4"

</p>