.grid-container{
    display: grid;
    grid-template-areas: 
    'toolbar toolbar toolbar toolbar toolbar toolbar'
    'menu info info info info info';
}

.grid-toolbar{
    grid-area: toolbar;
    width: 99vw;
}

.grid-left-menu{
    grid-area: menu;
    width: 60px;
}

.grid-content{
    grid-area: info;
}