<ng-container *ngIf="sesion$ | async as sesion">
  <div *ngIf="sesion.sesionActiva">
    <div
      class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
      style="width: 280px"
    >
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link text-white" routerLink="cursos">
            Cursos
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white" routerLink="estudiantes">
            Alumnos
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white" routerLink="profesores">
            Profesores
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white" routerLink="inscripciones/lista">
            Inscripciones
          </a>
        </li>
      </ul>
      <hr />
    </div>
  </div>
</ng-container>
