<h3 appSubtitleFont >Agregar profesores</h3>

<form [formGroup]="formulario" (ngSubmit)="agregarCurso()">
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill" class="fill">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
                <mat-error *ngIf="this.formulario.controls['nombre'].hasError('required')">Campo Obligatorio</mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-form-field appearance="fill" class="fill">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido">
                <mat-error *ngIf="this.formulario.controls['apellido'].hasError('required')">Campo Obligatorio</mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-4">
            <mat-form-field appearance="fill" class="fill">
                <mat-label>Curso</mat-label>
                <input matInput formControlName="curso">
                <mat-error *ngIf="this.formulario.controls['curso'].hasError('required')">Campo Obligatorio</mat-error>
            </mat-form-field>
        </div>
        
        <div class="col-md-12">
            <button  type="submit" class="fill btn btn-dark" [disabled]="!formulario.valid">Agregar curso</button>
        </div>
    </div>
</form>